@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #78a7ba 0%, #385d6c 50%, #78a7ba 99%);
}
.signup-form {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
}
.form__header {
    background-color: #3b83ca;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form__header h1 {
    font-size: 24px;
    line-height: 22px;
    text-align: start;
    color: #fff;
    padding: 20px 10px;
    border-bottom: 1px solid #cccccc;
}

.form__inner {
    padding: 10px 20px;
    color: #666;
}
.form__item {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form__input::placeholder {
    color: #666;
}
.form__inner .form__input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-right: 10px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}
.form__label {
    font-size: 12px;
}
.form__items-horizontal {
    display: flex;
    justify-content: space-between;
}
.form__items-horizontal .left {
    float: left;
    width: 49%;
}
.form__items-horizontal .right {
    float: right;
    width: 49%;
}
.genders__group {
    display: flex;
}
.genders__input {
    margin-left: 40px;
}
.gender__label {
    color: #000;
}
.age {
    /* margin-left: 0; */
    display: inline-block;
    text-align: right;
}
.age__input {
    margin-left: 50px;
    width: 85px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    font-size: 18px;
}
input[type="radio"],
label {
    margin-bottom: -10px;

    cursor: pointer;
}
input[type="radio"] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 35%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid rgb(235, 83, 83);
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 35%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(235, 83, 83);
    transform: translate(-50%, -50%);
    visibility: visible;
}
.genders__group input[type="radio"] {
    margin-left: 25px;
}
.label__title {
    font-size: 17px;
    color: #666666;
}
::-webkit-input-placeholder {
    color: #d9d9d9;
}

.form-footer {
    clear: both;
}

.password {
    position: relative;
}

#asterisk-password {
    position: absolute;
    top: 50px;
    left: 3px;
}

.confirm {
    position: relative;
}

.password-symbol {
    color: transparent;
}

#asterisk-confirm {
    position: absolute;
    top: 50px;
    left: 2px;
}

.form__btn {
    display: inline-block;
    padding: 10px 50px;
    background-color: #3b83ca;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
}

.form__footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 80px;
    padding-bottom: 20px;
    clear: both;
    text-align: center;
}

.name-error {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 3px;
    font-size: 12px;
    color: #b91919;
}
.age-error {
    position: absolute;
    bottom: 0;
    left: 80px;
    display: inline-block;
    padding-left: 120px;
    font-size: 12px;
    color: #b91919;
}
.email-error {

    bottom: 0;
    left: 0;
    display: inline-block;
    font-size: 12px;
    color: #b91919;
}

.password-error {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    font-size: 12px;
    color: #b91919;
}

/* @media (max-width: 565px) {
  .genders__group input[type="radio"] {
    margin-left: 5px;
  }
  .age {
    padding-left: 60px;
    margin-right: 40px;
  }
}
@media (max-width: 490px) {
  .age {
    padding-left: 20px;
    margin-right: 40px;
  }
} */
@media (max-width: 755px) {
    .form__items-horizontal {
        display: block;
        margin: 0 auto;
    }
    .form__items-horizontal .right {
        width: 90%;
        float: none;
    }
    .form__items-horizontal .left {
        float: none;
        width: 90%;
    }
    .genders__group {
        display: flex;
        justify-content: space-between;
    }
    .gender__label {
        font-size: 20px;
    }
    input[type="radio"]::before {
        left: 0%;
        width: 25px;
        height: 25px;
    }
    input[type="radio"]:checked::after {
        left: 0%;
        width: 18px;
        height: 18px;
    }
    .label__title {
        font-size: 25px;
        line-height: 22px;
    }
    .form__inner .form__input {
        font-size: 20px;
        line-height: 18;
    }
    .age {
        text-align: left;
    }
    .age__input {
        width: 150px;
    }
    .age-error {
        left: 0;
    }
}

@media (max-width: 465px) {
    .gender__label {
        font-size: 15px;
    }
    .genders__input {
        margin-left: -5px;
        margin-top: 3px;
    }
    input[type="radio"]::before {
        left: -5%;
        width: 20px;
        height: 20px;
    }
    input[type="radio"]:checked::after {
        left: -5%;
        width: 13px;
        height: 13px;
    }

}

.user-info {
    display: none;
    max-width: 800px;
    margin: 20px auto;
    background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
}

.user-info__inner {
    min-height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    line-height: 22px;
    padding: 30px;
    justify-content: center;
}

.user-info__item{
    margin: 2px;
    border: 2px solid #d6d6d6;
    padding: 15px;
    color: #666;
}
.user-info__close {
    display: inline-block;
    padding: 10px 50px;
    background-color: #3b83ca;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}
.user-info__footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    text-align: center;
}
@media (max-width: 580px){
    .user-info__item{
        padding: 5px;
    }
    .user-info__inner {
        padding: 20px;
        font-size: 22px;
        line-height: 20px;
    }
}
@media (max-width: 473px){.user-info__inner {
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
}}
.users-list{
    max-width: 800px;
    display: none;
    padding: 16px;
    background: white;
    border-radius: 10px;
    margin: 20px auto;
}
.user{
    display: flex;
    border: 1px solid #d6d6d6;
    padding: 2px;
    margin: 2px;
}
.users-list p{
    color: #666;
    margin: 3px;
}

@media(max-width: 900px) {
    .users-list p{
        font-size: 14px;
    }
}@media(max-width: 750px) {
    .users-list p{
        font-size: 13px;
    }
}@media(max-width: 550px) {
    .users-list p{
        font-size: 12px;
    }
}